@charset "utf-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    padding: 2em;
    text-align: justify;
    background-image: linear-gradient(to right, #000000, #3f3e3e,#777676 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #141413d8;
    width: 1100px;
    padding: 35px;
    margin: auto;
}

h1 {
    color: rgb(31, 31, 27);
    font-weight: 600;
    text-shadow: 1px 1px 2px #1f1a1a59;
}

h1#principal {
    text-align: center;
    color: white;
}

.basico {
    color: rgb(1, 122, 18);
}

.inter {
    color: rgb(177, 115, 2);
}

.avan {
    color: rgb(173, 0, 0);
}

.container {
  margin: 0 px; /* Margem do container - a faixa vai até aqui */
}

.danger-bar {
  position: relative;
  width: 100%;
  margin: 20px 0;
  border-radius: 8px;
  overflow: hidden;
  padding: 5px; /* espessura da faixa danger */
  background: repeating-linear-gradient(
    45deg,
    yellow 0 10px,
    black 10px 20px
  );
  box-sizing: border-box;
}

.dest {
  background-color: black;
  color: yellow;
  margin: 0;
  padding: 5px;
  font-size: 1.8em;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
}

.dest::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 5px; /* largura da faixa diagonal */
  background: repeating-linear-gradient(
    45deg,
    yellow 0 10px,
    black 10px 20px
  );
  border-radius: 8px;
  z-index: -1;
  box-sizing: border-box;
}

p {
    text-indent: 2em;
    color: black;
}